.custom-table {
  background-color: #54515b;
}

.custom-table-row {
  background-color: #797580;
  transition: background-color 0.3s ease;
}

.custom-table-row:hover {
  background-color: #937264 !important;
}
